# Ignore node_modules directory
node_modules/

# Ignore compiled TypeScript files
*.js
*.js.map

# Ignore build or output directories
dist/
out/
build/

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
Thumbs.db
.DS_Store
